#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cat {
  background-color: grey;
  padding: 5px;
  margin-bottom: 15px;
  width: 200px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.cat > button {
  margin-bottom: 10px;
}


